<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.uwaterloo.mrafuse.locationplugin">
    <uses-permission android:name="ca.uwaterloo.mrafuse.context.permission.REGISTER_AUTH_PLUGIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LocationConfigurationActivity"
            android:exported="true" />

        <service
            android:name=".UnfamiliarityPluginService"
            android:enabled="true"
            android:exported="true"
            android:permission="ca.uwaterloo.mrafuse.context.permission.READ_PLUGIN_DATA">
            <meta-data
                android:name="apiVersion"
                android:value="1" />
            <meta-data
                android:name="pluginType"
                android:value="unfamiliarity" />
            <meta-data
                android:name="title"
                android:value="Unfamiliarity Location Plugin" />
            <meta-data
                android:name="description"
                android:value="Unfamiliarity Location Plugin Description" />
            <meta-data
                android:name="implicit"
                android:value="false" />
            <meta-data
                android:name="configurationActivity"
                android:value="@string/title_activity_location_configuration" />
        </service>

        <service
            android:name=".PrivacyPluginService"
            android:enabled="true"
            android:exported="true"
            android:permission="ca.uwaterloo.mrafuse.context.permission.READ_PLUGIN_DATA">
            <meta-data
                android:name="apiVersion"
                android:value="1" />
            <meta-data
                android:name="pluginType"
                android:value="privacy" />
            <meta-data
                android:name="title"
                android:value="Privacy Location Plugin" />
            <meta-data
                android:name="description"
                android:value="Privacy Location Plugin Description" />
            <meta-data
                android:name="implicit"
                android:value="false" />
            <meta-data
                android:name="configurationActivity"
                android:value="@string/title_activity_location_configuration" />
        </service>

        <meta-data
            android:name="startupService"
            android:value="UnfamiliarityPluginService,PrivacyPluginService" />

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCNJmEOB8Z4ZZ2O3bJeeGCRdGCBG4GeOGo"/>
    </application>

</manifest>